@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f4ef;
  margin: 0;
  padding: 0;
  font-family: "Pretendard"; /* 원하는 폰트 지정 */
  font-size: 16px;
  /* line-height: 1.5; */
}

.StudyCreate {
  background-color: #ffffff;
  width: 696px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 24px 24px 40px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.page-title {
  font-weight: 800;
  font-size: 24px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form .input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form input,
form textarea {
  height: 40px;
  border-radius: 15px;
  border: 1px solid #dddddd;
  padding: 0 25px;
}

form textarea {
  height: 98px;
  padding: 20px 25px;
}

label {
  font-weight: 600;
  font-size: 18px;
  display: block;
}

fieldset {
  display: flex;
}

.create-button {
  /* display: flex;
  align-items: center; 
  justify-content: center; */

  position: relative;

  background-color: #99c08e;
  border: 0;
  height: 58px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: "EF_jejudoldam", Arial, sans-serif;
  z-index: 0;
}

.create-button::before {
  content: "만들기";
  position: absolute;
  top: 13px;
  left: 321px;
  color: #5e7d57;
  z-index: -1;
}

.error-msg {
  font-size: 14px;
  color: #c41013;
}

.error-input {
  border: 1px solid #c41013;
}

.background-option-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.input-container-password {
  position: relative;
}

.btn-showPassword {
  position: absolute;

  width: 24px;
  top: 43px;
  left: 660px;
}

@media (max-width: 744px) {
  /* 744px 이하에서 적용될 스타일 */
}

@media (max-width: 365px) {
  /* 365px 이하에서 적용될 스타일 */

  html,
  body {
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 여백 제거 */
    width: 100%; /* 화면 너비에 맞게 조정 */
    /* overflow-x: hidden;  */
  }
  .StudyCreate {
    width: 320px;
    margin: 0;
  }

  .background-option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
  }

  .create-button::before {
    content: "만들기";
    position: absolute;
    top: 13.5px;
    left: 133px;
    color: #5e7d57;
    z-index: -1;
  }

  .btn-showPassword {
    top: 43px;
    left: 280px;
  }
}
